@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .paper {
    @apply bg-white shadow-md rounded-xl overflow-hidden;
  }
}

$dark: #111;
$light: #fff;
$primary-yellow-1: #f2e641;
$primary-yellow-2: #f2c53d;
$primary-yellow-3: #b6942e;
$primary-yellow-4: #8b7123;
$primary-red-1: #d94f30;

.planetContainer {
  background-color: #090820;
  background-image: radial-gradient(
      circle at center,
      $primary-red-1 10%,
      transparent 20%
    ),
    radial-gradient(circle at center, $primary-yellow-1 10%, transparent 50%),
    radial-gradient(circle at center, $primary-red-1 20%, transparent 50%),
    radial-gradient(circle at center, $primary-red-1 10%, transparent 40%),
    radial-gradient(circle at center, $primary-yellow-2 20%, transparent 30%),
    radial-gradient(circle at center, $primary-red-1 10%, transparent 50%),
    radial-gradient(circle at center, $primary-yellow-3 30%, transparent 60%),
    radial-gradient(circle at center, $primary-red-1 10%, transparent 30%),
    radial-gradient(circle at center, $primary-red-1 20%, transparent 40%),
    radial-gradient(circle at center, $primary-yellow-4 50%, transparent 50%);
  background-size: 1rem 1rem;
  background-position: 79% 30%, 91% 33%, 96% 24%, 78% 18%, 70% 11%, 63% 3%,
    50% 5%, 10% 90%, 4% 63%, 47% 95%;
  background-repeat: no-repeat;
}

.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: linear-gradient(#f2e641, #6df2c1, #f2637e, #d93280, #f2c53d);
  box-shadow: rgba(0, 0, 0, 0.2) -2.5rem -1.5rem 1rem inset,
    rgba(32, 184, 205, 0.8) 0px 0px 0px 0.2rem,
    rgba(0, 164, 187, 0.8) 0px 0px 0px 0.6rem,
    rgba(1, 115, 151, 0.8) 0px 0px 0px 0.8rem,
    rgba(1, 61, 98, 0.8) 0px 0px 0px 1.2rem,
    rgba(50, 37, 87, 0.8) 0px 0px 0px 2rem;
  animation: rotatePlanet 150s infinite linear;
}

.clouds {
  background: url("/clouds.png");
  width: 102%;
  height: 102%;
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: translateBackground 30s infinite linear;
}

.fogGroup {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

@mixin fogData($x, $xValue, $y, $yValue, $color, $side, $animName, $animTime) {
  position: absolute;
  border-top-#{$side}-radius: 50px;
  border-bottom-#{$side}-radius: 50px;
  width: 50%;
  height: 20%;
  #{$x}: $xValue;
  #{$y}: $yValue;
  background-color: $color;
  animation: #{$animName} #{$animTime * 1.2} ease-in-out infinite;
}

.fog:nth-child(1) {
  @include fogData(top, 0, right, 6%, #726f6f, right, fogAnimLeft, 10s);
}
.fog:nth-child(2) {
  @include fogData(top, 12%, right, 3%, #2d2d2e, right, fogAnimLeft, 6s);
}
.fog:nth-child(3) {
  @include fogData(top, 30%, right, 2%, #726f6f, right, fogAnimLeft, 8s);
}
.fog:nth-child(4) {
  @include fogData(top, 49%, right, 0, #484849, right, fogAnimLeft, 5s);
}
.fog:nth-child(5) {
  @include fogData(top, 60%, right, 4%, #2d2d2e, right, fogAnimLeft, 9s);
}
.fog:nth-child(6) {
  @include fogData(top, 80%, right, 8%, #484849, right, fogAnimLeft, 7s);
}

.fog:nth-child(7) {
  @include fogData(top, 0, left, 6%, #726f6f, left, fogAnimRight, 7s);
}
.fog:nth-child(8) {
  @include fogData(top, 12%, left, 3%, #2d2d2e, left, fogAnimRight, 9s);
}
.fog:nth-child(9) {
  @include fogData(top, 30%, left, 2%, #726f6f, left, fogAnimRight, 6s);
}
.fog:nth-child(10) {
  @include fogData(top, 49%, left, 0, #484849, left, fogAnimRight, 10s);
}
.fog:nth-child(11) {
  @include fogData(top, 60%, left, 4%, #2d2d2e, left, fogAnimRight, 6s);
}
.fog:nth-child(12) {
  @include fogData(top, 80%, left, 8%, #484849, left, fogAnimRight, 8s);
}

@keyframes fogAnimLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fogAnimRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes translateBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -600px;
  }
}

@keyframes rotatePlanet {
  0% {
    transform: translate(-50%, -50%) rotateZ(0);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(-360deg);
  }
}
